<h1 style="color: blue;">Bienvenido/a</h1>
<h2 style="color: rgb(13, 172, 245);">Estás en la página {{nombre}}</h2>
<br>
<p style="color: rgb(255, 136, 0); font-weight: bolder">La viste {{vistas}} veces</p>
<br>
<h2 style="color: rgb(13, 172, 245);">Gracias por su visita!</h2>